@model IssLocator.ViewModels.IssLocationViewModel
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>ISS Locator Application</h1>
</div>

<div class="row">
    <div>
        <p>Witaj w internetowym lokalizatorze Międzynarodowej Stacji Kosmicznej (ISS)</p>
    </div>
    <div>
        <p>Prędkość stacji kosmicznej obliczona na podstawie najnowszych koordynatów wynosi: @Model.Speed m/s</p>
    </div>
    
    <nav aria-label="Koordynaty ISS">
        @await Component.InvokeAsync("Pager", new { pagingList = Model.TrackPoints })
    </nav>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Czas pomiaru</th>
            <th scope="col">Szerokość geograficzna</th>
            <th scope="col">Długość geograficzna</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.TrackPoints.Count() > 2)
        {
            var counter = 0;
            foreach (var point in Model.TrackPoints)
            {
                counter++;
                <tr>
                    <td>@counter</td>
                    <td>

                        @{
                            var dateTime = point.ToDateTime();
                            @Html.DisplayFor(modelpoint => dateTime)
                        }
                    </td>
                    <td>@Html.DisplayFor(modelpoint => point.Latitude)</td>
                    <td>@Html.DisplayFor(modelpoint => point.Longitude)</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

